<!DOCTYPE html>
<html>
<head>
    <title>Interview AI</title>
</head>
<body>

<h1>AI Interview System</h1>

<h2 id="question">{{ question }}</h2>


<input type="text" id="answer" placeholder="Type your answer here">
<button onclick="sendAnswer()">Submit</button>

<p id="response"></p>

<script>
function sendAnswer() {
    let answer = document.getElementById("answer").value;
    let question = document.getElementById("question").innerText;

    fetch("/analyze", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
        answer: answer,
        question: question})
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("response").innerText = data.message;
    });
}
</script>

</body>
</html>